---
import NavHeader from "../components/NavHeader";
import Footer from "../components/Footer";
import Styles from "../styles/App.scss";
---

<!-- TODO: Refactor to use Nanos and slots -->
<html lang="en">
    <head>
        <NavHeader client:load />
    </head>
    <body>
        <main>
            <div class="about-page">
                <h1>A Little About Me...</h1>
                <div class="about-wrapper">
                    <img
                        class="headshot"
                        src="https://devinarnold-website-content.s3.us-east-2.amazonaws.com/devin_jpn.jpg"
                        alt="headshot"
                    />
                    <div class="about-blurb">
                        <p>
                            I am a GIS nerd turned developer. I started my
                            career building interactive GIS solutions in the
                            environmental space, and quickly fell in love with
                            writing code. After working in the GIS industry for
                            more than 8 years, I decided to go back to school to
                            pursue a full time career in software development. I
                            am currently working as a consultant in Portland,
                            Oregon. I am happy jumping all over the stack from
                            writing analytics modules in Python and SQL to
                            designing wireframes and building front ends in
                            React.
                        </p>
                        <a
                            class="resume-download"
                            href="https://devinarnold-website-content.s3.us-east-2.amazonaws.com/Devin+Arnold's+Resume.pdf"
                            target="_blank"
                            rel="noreferrer"
                        >
                            View Resume
                        </a>
                    </div>
                </div>
            </div>
        </main>
        <style>
            main {
                margin: auto;
                padding: 1em;
                height: 78vh;
                overflow-y: scroll;

            }
        </style>
    </body>
    <Footer />
</html>
