---
import TypeWriter from '../components/TypeWriter'
import { TextButton } from "../components/TextButton";
import { typeWriterMessages, LARGE_LOGO_White } from '../constants.js'
import Styles from "../styles/App.scss";
---

<html lang="en">
  <head> </head>
  <body>
    <main>
      <div class='welcome-wrapper'>
        <img
            class="welcome-logo"
            src={LARGE_LOGO_White}
            alt="DA Logo"
        />
        <TypeWriter messages={typeWriterMessages} client:load/>
        <div class="learn-more">
            <TextButton text={"Learn More"} link={"/about"} />
        </div>
    </div>
    </main>
    <style>
      main {
        text-align: center;
        margin: auto;
        padding: 1em;
        max-width: 60ch;
        height: 85vh;
      }
    </style>
  </body>
</html>
